[Desktop Entry]
Type=Application
Name=qt_batch_deployment
Comment=基于Qt的远程内存修改工具(算能科技)
Exec=qt_batch_deployment
Icon=qt_batch_deployment
Categories=Office;
X-AppImage-Version=06990f0
