[Unit]
Description=Sophon HDMI status Service
After=bmrt_setup.service network.target

[Service]
User=root
ExecStart=/bm_services/SophonHDMI/hdmi_status.sh
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/bm_services/SophonHDMI/
KillMode=control-group 
Restart=on-failure
RestartPreventExitStatus=200
Type=simple
RestartSec=10

[Install]
WantedBy=multi-user.target
